data/cassandra/
data/juggling/repository/
data/juggling/war/
data/juggling/public/
data/juggling/imart.war
data/juggling/imart.zip
data/juggling/.project-backup/
data/mailpit/
data/oracle/
data/resin/
data/resin1/
data/resin2/
data/solr/
data/httpd/

.devcontainer/
.DS_Store

data/accelstudio-testing-agent/
